body{
  background-color:rgb(124, 214, 236);
  }

table,th,td{
  border: 1px solid black
  }

#titulo {
 color: crimson; 
}

.post{
  background-color: coral;
}

#cuerpoblog{
  background-color: rgb(138, 183, 185);
}

h1{
  text-align: center;
}