body{
  background-color:rgb(124, 214, 236);
  }

table,th,td{
  border: 1px solid black
  }

#titulo {
  color: rgba(52, 41, 114, 0.788);
  background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
  background-clip: text;
  animation: color 3s linear infinite;
  background-size: 500%; 
  border-radius: 30px;
}

@keyframes color {
  from {
      background-position: 0% 50%;
  }

  to {
      background-position: 100% 50%;
  }
} 

.post{
  background-color: coral;
}

#cuerpoblog{
  background-image: url("/img/fondo-responsive.jpg");
  background-size: auto;   
}

h1{
  text-align: center;
  color:rgb(90, 143, 240);
  background-color:rgb(247, 146, 109);
  opacity: unset;
}

h2{
  color: rgb(10, 81, 187)
}

div{
  border: 1px;
  background-color: rgb(150, 202, 218);
  width: 200;
  height: 150;
  border-radius: 15px;  
}